.BigDiv {
    background-color: #000; 
    text-align: center;
    padding: 5px;
}

.BigDiv > div {
    display: inline-block; /* Cambiar a inline-block para controlar mejor el tamaño del div */
    color: #fff; 
    font-size: 70px;
    margin: 5px;
    padding: 5px;
    background-color: #313131;
    border-radius: 10px;
}
